name: Build
on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Format Check
        run: deno fmt --check

      - name: Lint
        run: deno lint

      - name: Type Check
        run: deno check

      - name: Build
        run: deno task build
